.card {
  padding: 32px 24px;
  background: white;
  border: 1px solid #f6f6f6;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.tagNote {
  width: 16px;
  height: 16px;
  border-radius: 2px;
}
