.container {
  width: 100%;
  border: 1px solid;
  border-radius: 8px;
  background: white;
  width: 100%;
  padding: 9px 12px;
  border: 1px solid #d5d5d5;
  max-height: 148px;
  min-height: 148px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    border-color: #2aa98b;
  }
}