.container {
  width: 100%;
  border: 1px solid;
  border-radius: 8px;
  background: white;
  width: 100%;
  padding: 9px 12px;
  border: 1px solid #d5d5d5;
  height: 38px;
  display: flex;
  align-items: center;

  &:hover {
    border-color: #2aa98b;
  }
}