.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.cardFilter {
  background: white;
  border-radius: 4px;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.leftFilter {
  display: flex;
  align-items: center;
  gap: 24px;
}

.icSearch {
  width: 24px;
  height: 24px;
}
.btnSearch {
  min-width: 126px;
  height: 40px;
  @media (min-width: 1280px) and (max-width: 1599px) {
    width: max-content !important;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.date {
  @media (min-width: 1280px) and (max-width: 1599px) {
    width: 130px !important;
  }
}

.selectStatus {
  min-width: 160px;
  @media (min-width: 1280px) and (max-width: 1599px) {
    min-width: 100px !important;
  }
}
