.mainContainer {
  height: 100%;
}

.leftContainer {
  display: flex;
  height: 100dvh;
  position: relative;
  align-items: center;
  justify-content: center;
  align-items: center;
  background-image: url('../../../public/images/bg-auth-login.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;

  .logoContainer {
    position: absolute;
    top: 36px;
    left: 34px;

    .image {
      width: 62px !important;
      height: 52px;
    }
  }
}

.imageLab {
  position: absolute;
  bottom: 0;
  right: 0;
  .image {
    width: auto !important;
    height: 606px;
  }
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background: white;
}
