.container {
  display: flex;
  width: 300px;
  flex-direction: column;
  border-right: 1px solid #e8e8e8;
  height: 100dvh;
  transition: width 0.18s ease;
  &.collapsed {
    width: 80px;

    p {
      transform: translateX(-20px);
      opacity: 0;
      transition: none;
    }
  }
}

.header {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 4px;
  border-bottom: 1px solid #e8e8e8;

  p {
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1), opacity 0.3s ease-in-out;
    transition-delay: 0.1s;
    white-space: nowrap;
  }
}

.collapsedHeader {
  padding: 20px 8px !important;
  justify-content: center;
  align-items: center;
}

.image {
  width: 32px;
  height: 28px;
}

.collapsedContent {
  padding: 24px 8px !important;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 32px 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    background-color: #effcf5;
  }
  p {
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1), opacity 0.3s ease-in-out;
    white-space: nowrap;
  }
}

.menuActive {
  background-color: #effcf5;

  p {
    color: #2aa98b;
  }
}

.icon {
  width: 24px;
  height: 24px;
}
