.header {
  border-bottom: 1px solid #e0e0e0;
  padding: 32px;
}

.drawer {
  :global {
    .ant-drawer-body {
      padding: 0 !important;
    }
  }
}

.content {
  padding: 32px;
  display: flex;
  flex-direction: column;
}

.footerAction {
  margin-top: 60px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.btn {
  width: 100%;
}

.contentUpload {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

.imgUpload {
  width: 32px;
  height: 32px;
}

.dragger {
  :global {
    .ant-upload.ant-upload-drag {
      height: 142px;
      background: #2aa98b0d !important;
      border-color: #2aa98b80;

      &:hover {
        border-color: #2aa98b;
      }
    }
  }
}
