.containerBtn {
  // position: absolute;
  // right: 36px;
  display: flex;
  justify-content: end;
  align-items: end;
}

.btn {
  height: 32px !important;
  min-width: 100px;
}

.tab {
  padding-top: 10px;
  padding-bottom: 60px;
}
