.containerBtn {
  // position: absolute;
  // right: 36px;
  position: relative;
  z-index: 999999;
  display: flex;
  justify-content: end;
  align-items: end;
  margin-bottom: -30px
}

.btn {
  height: 32px !important;
  min-width: 100px;
}

.tab {
  padding-top: 10px;
  padding-bottom: 60px
}