.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.formList {
  margin-bottom: 0 !important;
}

.button {
  width: 120px !important;

  span {
    color: #2AA98B;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.textRequired {
  margin-left: 34px;
}

.iconDrag {
  display: flex;
  margin-top: 10px;
  padding-left: 10px;
  width: 40px;

  img {
    width: 16px;
    height: 16px;
  }
}

.btn {
  margin-top: -4px;
}