.inputText {
  background: white;
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  padding: 12px;
  line-height: 20px;
  color: #131313;
  width: 100%;
  border: 1px solid #d5d5d5;

  &::-webkit-input-placeholder {
    /* Edge */
    color: var(--neutral-color-gray-5-disable, #888888);
  }

  &:-ms-input-placeholder {
    color: var(--neutral-color-gray-5-disable, #888888);
  }

  &::placeholder {
    color: var(--neutral-color-gray-5-disable, #888888);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17.5px;
  }

  &:hover,
  &:focus,
  &:active,
  &:visited,
  &:focus-visible,
  &:focus-within,
  &:target {
    input {
      background: white;
    }
    border-color: #2aa98b !important;
    box-shadow: none !important;
    background: white;
  }
}

.error {
  margin: 4px 0 0;
}

.errorText {
  // color: $gray-1;
  font-weight: 400;
  font-size: 12px;
}
.logoError {
  display: flex;
  align-items: center;
}
