.font-24-700 {
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
}

.font-14-400 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.font-18-600 {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
}

.font-24-600 {
  font-size: 24px;
  font-weight: 600;
  line-height: 20px;
}

.font-12-400 {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.font-32-600 {
  font-size: 32px;
  font-weight: 600;
  line-height: 20px;
}
